$primary-color: #0078BB;
$secondary-color: #9CC6E9;
$tertiary-color: #9CC6E9;

$global-font-family: 'FranklinGothicURWCon-Boo',Arial,Verdana,sans-serif;
$global-box-shadow-size: 0;
$global-border-width-buttons: 0;
$global-border-style-buttons: none;

$a-bar-background-color: $primary-color;
$a-bar-color: #fff;
$a-bar-border: #ddd !default;
$a-bar-shadow-x: none;
$a-bar-shadow-y: unquote('');
$a-bar-shadow-radius: unquote('');
$a-bar-shadow-color: unquote('');

$a-body-shadow-x: 0;
$a-body-shadow-y: 0;
$a-body-shadow-radius: 0;

$a-page-background-color: #fff;

$a-link-color: #000;
$a-link-text-decoration: none;
$a-link-font-weight: normal;
$a-link-visited: #000;
$a-link-hover: #000;
$a-link-active: #000;

$a-bup-background-color: $secondary-color;
$a-bup-border: $primary-color;
$a-bup-color: #fff;
$a-bup-shadow-x: none;
$a-bup-shadow-y: unquote('');
$a-bup-shadow-radius: unquote('');
$a-bup-shadow-color: unquote('');

$a-bhover-background-color: $primary-color;
$a-bhover-border: $primary-color;
$a-bhover-color: #fff;
$a-bhover-shadow-x: none;
$a-bhover-shadow-y: unquote('');
$a-bhover-shadow-radius: unquote('');
$a-bhover-shadow-color: unquote('');

$a-bdown-background-color: $secondary-color;
$a-bdown-border: $primary-color;
$a-bdown-color: #fff;
$a-bdown-shadow-x: none;
$a-bdown-shadow-y: unquote('');
$a-bdown-shadow-radius: unquote('');
$a-bdown-shadow-color: unquote('');

$a-active-shadow-x: none;
$a-active-shadow-y: unquote('');
$a-active-shadow-radius: unquote('');
$a-active-shadow-color: unquote('');
$a-active-background-color: $secondary-color;
$a-active-box-shadow: none;

$b-bar-background-color: $primary-color;

$b-body-background-color: #fff;
$b-body-color: #000;
$b-body-shadow-x: 0;
$b-body-shadow-y: 1;
$b-body-shadow-radius: 0;

$b-bup-background-color: $primary-color;

$b-link-color: #000;
$b-link-text-decoration: none;
$b-link-font-weight: normal;
$b-link-visited: #000;
$b-link-hover: #000;
$b-link-active: #000;

$dtr-store-brand: 'Nicotinell® ';
$dtr-store-border-radius: 5px;

$dtr-store-product-details-border: 2px solid $secondary-color;
$dtr-store-spinner-border-radius: 15px;
$dtr-store-basket-content-background-color: #e4eef6;
$dtr-store-product-name-h4-color: #000;

@import '../default/reset';
@import '../default/mixins';
@import '../default/jquery-mobile.theme';
@import '../default/store';

/* Fonts */
@font-face{
	font-family:'FranklinGothicURWCon-Boo';
	@include font-face-src('http://content.dotter.me/store/nicotinell/fonts/26A15B_0_0');
}
@font-face{
	font-family:'FranklinGothicURWCon-Med';
	@include font-face-src('http://content.dotter.me/store/nicotinell/fonts/26A15B_1_0');
}
@font-face{
	font-family:'FranklinGothicURWCon-Dem';
	@include font-face-src('http://content.dotter.me/store/nicotinell/fonts/26A15B_2_0');
}
@font-face{
	font-family:'FranklinGothicURWCon-DemIta';
	@include font-face-src('http://content.dotter.me/store/nicotinell/fonts/26A15B_5_0');
}
@font-face{
	font-family:'itcfranklingothicstd-dmcp';
	@include font-face-src('http://content.dotter.me/store/nicotinell/fonts/itcfranklingothicstd-dmcp');
}

.ui-header, .ui-footer {
  border: none;
}

button,
.ui-btn {
	font-family: 'itcfranklingothicstd-dmcp',Arial,Verdana,sans-serif;
}

/*----------------------------*/
/* Basket Page                */
/*----------------------------*/

@media all and (min-width: 36em) {
	.basket-page {
        border-width: 2px;
        border-style: solid;
		border: 2px solid $primary-color;
	}	
}

.dotter-retailer-login .ui-input-text {
  @include input-placeholder {
    text-transform: lowercase;
  }
}

/*---------------*/
/* STORE BUTTONS */
/*---------------*/
/*Header buttons*/
.btn-lrg {
	font-size: 1.35em !important;
	line-height: 1em;
	padding: .4em .6em .4em;
}

/*Select Retailer btn in product panel*/
div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-retailer-select {
	background: #fff;
	color: #f00;
	font-size: 1em;
}

/*Add btn in product panel (added/update state)*/
div.panel.dotter-add-to-basket > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-product-add.ui-state-disabled.mobile-button-disabled.dotter-product-added, div.panel.dotter-add-to-basket > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-product-add.dotter-product-update, .dotter-btn-basket, .dotter-btn-a {
	background: $primary-color !important;
}

.dotter-spinner {
  input {
    border-color: $secondary-color;
  }
}

/*--------------------*/
/* Navigation bar     */
/*--------------------*/

.dotter-navigation-container {
  @include border-radius($dtr-store-border-radius);
}

.dotter-navigation.ui-navbar .ui-btn {
  @include border-radius(0);
}

.dotter-navigation.ui-navbar .ui-btn:hover {
  background-color: $a-bup-background-color;
  border-color: $a-bup-border;
  color: $primary-color;
}

.dotter-navigation.ui-navbar .ui-btn.ui-btn-active:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

.dotter-navigation.ui-navbar .ui-btn:after {
  content: "|";
  color: $primary-color;
  position: absolute;
  right: -.2em;
}

.dotter-navigation.ui-navbar .ui-btn.ui-btn-active {
  margin-left: -.2em;
  background-color: $primary-color;
}

.dotter-navigation.ui-navbar ul li:first-child .ui-btn {
  @include border-radius($dtr-store-border-radius 0px 0px $dtr-store-border-radius);
}

.dotter-navigation.ui-navbar ul li:first-child .ui-btn.ui-btn-active {
  margin-left: 0;
}

.dotter-navigation.ui-navbar ul li:last-child .ui-btn:after {
  content: "";
}

.dotter-store-grid-container {
  @include grid-container {
    width: 17%;
  }
  
  .dotter-navigation-container {
	background-color: $secondary-color;
  }

  .ui-navbar a.ui-btn {
    font-size: 1.1em;
  }
}
 /* Login Panel */

.dotter-retailer-info.dotter-small-prints {
  color: $primary-color;
}
