/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
* jQuery Mobile 1.4.2
* Git HEAD hash: 9d9a42a27d0c693e8b5569c3a10d771916af5045 <> Date: Fri Feb 28 2014 17:32:01 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2014 jQuery Foundation, Inc. and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/
/* Globals */
/* Font
-----------------------------------------------------------------------------------------------------------*/
html {
  font-size: 100%;
}

body,
input,
select,
textarea,
button,
.ui-btn {
  font-size: 0.875em;
  line-height: 1.3em;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

legend,
.ui-input-text input,
.ui-input-search input {
  color: inherit;
  text-shadow: inherit;
}

/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
  font-weight: normal;
  font-size: 16px;
}

/* Separators
-----------------------------------------------------------------------------------------------------------*/
/* Field contain separator (< 28em) */
.ui-field-contain {
  border-bottom-color: #828282;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* Table opt-in classes: strokes between each row, and alternating row stripes */
/* Classes table-stroke and table-stripe are deprecated in 1.4. */
.table-stroke thead th,
.table-stripe thead th,
.table-stripe tbody tr:last-child {
  border-bottom: 1px solid #d6d6d6;
  /* non-RGBA fallback */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-stroke tbody th,
.table-stroke tbody td {
  border-bottom: 1px solid #e6e6e6;
  /* non-RGBA fallback  */
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.table-stripe.table-stroke tbody tr:last-child th,
.table-stripe.table-stroke tbody tr:last-child td {
  border-bottom: 0;
}

.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
  background-color: #eeeeee;
  /* non-RGBA fallback  */
  background-color: rgba(0, 0, 0, 0.04);
}

/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn,
label.ui-btn {
  font-weight: normal;
  border-width: 0;
  border-style: none;
}

.ui-btn:link {
  text-decoration: none !important;
}

.ui-btn-active {
  cursor: pointer;
}

/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-btn-corner-all deprecated in 1.4 */
.ui-corner-all {
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

/* Buttons */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
.ui-slider-track.ui-corner-all,
.ui-flipswitch.ui-corner-all,
.ui-li-count {
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Radius clip workaround for cleaning up corner trapping */
.ui-btn-corner-all,
.ui-corner-all {
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

/* Popup arrow */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
  left: 0.6em;
  right: 0.6em;
  top: 0.6em;
  bottom: 0.6em;
}

/* Shadow
-----------------------------------------------------------------------------------------------------------*/
.ui-shadow {
  -webkit-box-shadow: 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 rgba(0, 0, 0, 0.15);
}

.ui-shadow-inset {
  -webkit-box-shadow: inset 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 rgba(0, 0, 0, 0.2);
}

.ui-overlay-shadow {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

/* Alt icons */
.ui-alt-icon.ui-btn:after,
.ui-alt-icon .ui-btn:after,
html .ui-alt-icon.ui-checkbox-off:after,
html .ui-alt-icon.ui-radio-off:after,
html .ui-alt-icon .ui-checkbox-off:after,
html .ui-alt-icon .ui-radio-off:after {
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.15);
}

/* No disc */
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after {
  background-color: transparent;
}

/* Icon shadow */
.ui-shadow-icon.ui-btn:after,
.ui-shadow-icon .ui-btn:after {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* Checkbox and radio */
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after,
.ui-btn.ui-radio-off:after,
.ui-btn.ui-radio-on:after {
  display: block;
  width: 18px;
  height: 18px;
  margin: -9px 2px 0 2px;
}

.ui-checkbox-off:after,
.ui-btn.ui-radio-off:after {
  filter: Alpha(Opacity=30);
  opacity: .3;
}

.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after {
  -webkit-border-radius: 0.1875em;
  border-radius: 0.1875em;
}

.ui-radio .ui-btn.ui-radio-on:after {
  background-image: none;
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-width: 5px;
  border-style: solid;
}

.ui-alt-icon.ui-btn.ui-radio-on:after,
.ui-alt-icon .ui-btn.ui-radio-on:after {
  background-color: #000;
}

/* Loader */
.ui-icon-loading {
  background: url("images/ajax-loader.gif");
  background-size: 2.875em 2.875em;
}

/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
  background-color: white;
  border-color: #dddddd;
  color: #333333;
  text-shadow: none   transparent;
  font-weight: bold;
}

.ui-bar-a {
  border-width: 1px;
  border-style: solid;
}

/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background-color: transparent;
  border-color: #bbbbbb;
  color: #333333;
  text-shadow: 0 0 0 transparent;
}

/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
  background-color: transparent;
  border-color: #dddddd;
  color: white;
  text-shadow: 0 0 0 transparent;
}

.ui-body-a {
  border-width: 1px;
  border-style: solid;
}

/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
  color: white;
}

.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
  color: white;
}

.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
  color: white;
}

/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
  background-color: #05764e;
  border-color: #05764e;
  color: white;
  text-shadow: none   ;
}

/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
  background-color: #05764e;
  border-color: #05764e;
  color: white;
  text-shadow: none   ;
}

/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
  background-color: #05764e;
  border-color: #05764e;
  color: white;
  text-shadow: none   ;
}

/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
  background-color: #3388cc;
  border-color: #05764e;
  color: white;
  text-shadow: none   ;
}

/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
  border-color: #3388cc;
}

/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
  border-color: #05764e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* B
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
  background-color: #05764e;
  border-color: #1b1b1b;
  color: white;
  text-shadow: 0 1px 0 transparent;
  font-weight: bold;
}

.ui-bar-b {
  border-width: 1px;
  border-style: solid;
}

/* Page and overlay */
.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper {
  background-color: #252525;
  border-color: #454545;
  color: white;
  text-shadow: 0 1px 0 #111111;
}

/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
  background-color: white;
  border-color: #1d1d1d;
  color: black;
  text-shadow: 0 0 0 transparent;
}

.ui-body-b {
  border-width: 1px;
  border-style: solid;
}

/* Links */
.ui-page-theme-b a,
html .ui-bar-b a,
html .ui-body-b a,
html body .ui-group-theme-b a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.ui-page-theme-b a:visited,
html .ui-bar-b a:visited,
html .ui-body-b a:visited,
html body .ui-group-theme-b a:visited {
  color: black;
}

.ui-page-theme-b a:hover,
html .ui-bar-b a:hover,
html .ui-body-b a:hover,
html body .ui-group-theme-b a:hover {
  color: black;
}

.ui-page-theme-b a:active,
html .ui-bar-b a:active,
html .ui-body-b a:active,
html body .ui-group-theme-b a:active {
  color: black;
}

/* Button up */
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
  background-color: #05764e;
  border-color: #1f1f1f;
  color: white;
  text-shadow: 0 0 0 transparent;
}

/* Button hover */
.ui-page-theme-b .ui-btn:hover,
html .ui-bar-b .ui-btn:hover,
html .ui-body-b .ui-btn:hover,
html body .ui-group-theme-b .ui-btn:hover,
html head + body .ui-btn.ui-btn-b:hover {
  background-color: #05764e;
  border-color: #1f1f1f;
  color: white;
  text-shadow: 0 1px 0 #111111;
}

/* Button down */
.ui-page-theme-b .ui-btn:active,
html .ui-bar-b .ui-btn:active,
html .ui-body-b .ui-btn:active,
html body .ui-group-theme-b .ui-btn:active,
html head + body .ui-btn.ui-btn-b:active {
  background-color: #05764e;
  border-color: #1f1f1f;
  color: white;
  text-shadow: 0 1px 0 #111111;
}

/* Active button */
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
.ui-page-theme-b .ui-checkbox-on:after,
html .ui-bar-b .ui-checkbox-on:after,
html .ui-body-b .ui-checkbox-on:after,
html body .ui-group-theme-b .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-b:after,
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
  background-color: #22aadd;
  border-color: #22aadd;
  color: white;
  text-shadow: 0 1px 0 #0088bb;
}

/* Active radio button icon */
.ui-page-theme-b .ui-radio-on:after,
html .ui-bar-b .ui-radio-on:after,
html .ui-body-b .ui-radio-on:after,
html body .ui-group-theme-b .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-b:after {
  border-color: #22aadd;
}

/* Focus */
.ui-page-theme-b .ui-btn:focus,
html .ui-bar-b .ui-btn:focus,
html .ui-body-b .ui-btn:focus,
html body .ui-group-theme-b .ui-btn:focus,
html head + body .ui-btn.ui-btn-b:focus,
.ui-page-theme-b .ui-focus,
html .ui-bar-b .ui-focus,
html .ui-body-b .ui-focus,
html body .ui-group-theme-b .ui-focus,
html head + body .ui-btn-b.ui-focus,
html head + body .ui-body-b.ui-focus {
  -webkit-box-shadow: 0 0 12px #22aadd;
  -moz-box-shadow: 0 0 12px #22aadd;
  box-shadow: 0 0 12px #22aadd;
}

/* Structure */
/* Disabled
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-disabled deprecated in 1.4. :disabled not supported by IE8 so we use [disabled] */
.ui-disabled,
.ui-state-disabled,
button[disabled],
.ui-select .ui-btn.ui-state-disabled {
  filter: Alpha(Opacity=30);
  opacity: .3;
  cursor: default !important;
  pointer-events: none;
}

/* Focus state outline
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus,
.ui-btn.ui-focus {
  outline: 0;
}

/* Unset box-shadow in browsers that don't do it right */
.ui-noboxshadow .ui-shadow,
.ui-noboxshadow .ui-shadow-inset,
.ui-noboxshadow .ui-overlay-shadow,
.ui-noboxshadow .ui-shadow-icon.ui-btn:after,
.ui-noboxshadow .ui-shadow-icon .ui-btn:after,
.ui-noboxshadow .ui-focus,
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow input:focus,
.ui-noboxshadow .ui-panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow .ui-focus {
  outline-width: 1px;
  outline-style: auto;
}

/* Common rules for Dotter store */
.ui-header, .ui-footer {
  border: none;
}

button,
.ui-btn {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
button.ui-disabled,
.ui-btn.ui-disabled {
  background-color: #e6e6e6 !important;
  opacity: 1;
}

.ui-btn,
label.ui-btn {
  text-transform: uppercase;
}

.ui-page-theme-a,
.dotter-text-a {
  color: white;
}

.ui-page-theme-b,
.dotter-text-b {
  color: black;
}

@media all and (min-width: 55em) {
  .dotter-lg-text-b {
    color: #2D6192;
  }
}
/* From http://css-tricks.com/hang-on-placeholders/ */
.ui-input-text input:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

.ui-popup.ui-corner-all {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Branding */
.dotter-branding-image {
  background-image: url("images/secondary-branding-sml.png");
}
@media all and (min-width: 50em) {
  .dotter-branding-image {
    background-image: url("images/secondary-branding.png");
  }
}

@media all and (min-width: 50em) {
  .dotter-image.dotter-retailer {
    background-image: url("images/secondary-branding.png");
  }
}
/* BRANDING */
.dotter-brand-adjust:before {
  content: "";
}

/*Border between upsell products*/
.dotter-border-a {
  border-color: #05764e;
}

.dotter-border-b,
.ui-body-a .ui-controlgroup {
  border-color: #9cc6e9;
}

/*----------------*/
/* HEADER SECTION */
/*----------------*/
/*Retailer Select panel (non pop-up)*/
.panel.top {
  min-height: 48px;
}

.dotter-header .panel.top > .panel.right {
  border: 2px solid #05764e;
  background-color: white;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.retailerchoice .dotter-label {
  background: #05764e;
  color: transparent;
  padding: .5em;
}

/*Secondary Branding Image*/
.panel.top > .dotter-image.dotter-retailer {
  float: right;
}

.dotter-image.dotter-retailer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-image: url("images/secondary-branding-sml.png");
  background-size: 72%;
  background-position: left center;
  background-repeat: no-repeat;
  margin: 1em 370px 2.3em 1em;
}

/* secondary navigation */
.dotter-header .app-links .item {
  text-transform: uppercase;
}

/*Breadcrumbs*/
.dotter-header .dotter-breadcrumbs li {
  text-transform: uppercase;
}

.dotter-breadcrumbs .dotter-active {
  color: #05764e;
}
.dotter-breadcrumbs .dotter-active:before {
  color: #000;
}

/*----------------------------*/
/* PRODUCT GRID PANEL SECTION */
/*----------------------------*/
.dotter-store-grid-container, .basket-page, .thankyou-page {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/*Product details both in grid and upsell*/
.dotter-product-details {
  border: 1px solid white;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: white;
}
.dotter-product-details h4.dotter-product-title {
  text-align: center;
  font-size: 1.1em;
}

.dotter-product-abstract {
  font-size: .9em;
  color: black;
}

/*Info button Icon*/
.dotter-product-info.dotter-icon:before {
  background-color: #05764e;
}

/*Price*/
.price, .offer {
  color: red;
}

/*Error messages*/
.empty-product-list {
  font-size: 1.3em;
}

/*Product Info modals*/
.ui-header.ui-bar-a > h1 {
  font-size: 1.1em;
}

.ui-popup-container .ui-content h3 {
  font-weight: normal;
}

/*---------------*/
/* STORE BUTTONS */
/*---------------*/
/*Select Retailer btn in product panel*/
div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-retailer-select {
  background: transparent;
  color: #05764e;
  font-size: 1em;
}

/* Spinner */
/*Add and qty select btns in product panel (should be std btn)*/
.dotter-add-to-basket .ui-btn.dotter-product-add {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 0px;
}
.dotter-add-to-basket .ui-btn.dotter-product-add .ui-btn.dotter-product-added {
  background: #05764e;
}

.dotter-spinner input {
  border-color: #05764e;
}
.dotter-spinner .ui-btn.ui-icon-plus {
  -webkit-border-radius: 0px 15px 15px 0px;
  border-radius: 0px 15px 15px 0px;
}
.dotter-spinner .ui-btn.ui-icon-minus {
  -webkit-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;
}

.dotter-product-quantity, .dotter-item-quantity {
  border-color: #05764e;
}

/*--------------------*/
/* Dotter Login Panel */
/*--------------------*/
.dotter-retailer-login .ui-input-text input {
  font-size: 1.2em;
  padding: .3em .5em .2em;
}

/*Placeholder UPPERCASE*/
.dotter-retailer-login .ui-input-text input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.dotter-retailer-login .ui-input-text input:-moz-placeholder {
  text-transform: uppercase;
}
.dotter-retailer-login .ui-input-text input::-moz-placeholder {
  text-transform: uppercase;
}
.dotter-retailer-login .ui-input-text input:-ms-input-placeholder {
  text-transform: uppercase;
}

/*--------------*/
/* Basket panel */
/*--------------*/
.dotter-basket-details {
  /*Basket panel styling*/
  /*Basket total styling*/
  /* Basket product title */
}
.dotter-basket-details .dotter-basket-content {
  border: 1px solid white;
  border-bottom: none;
  background-color: white;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.dotter-basket-details .dotter-basket-total {
  background: #05764e;
  color: transparent;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.dotter-basket-details .dotter-product-title {
  color: black;
}

.dotter-retailer-info.dotter-small-prints {
  color: white;
  font-size: 1.2em;
}

/*Upsell slider*/
.dotter-has-upsell h3 {
  color: #05764e;
}

/*----------------*/
/* Thank You page */
/*----------------*/
.dotter-thankyou-page h1 {
  color: #05764e;
  font-style: italic;
  font-family: 'Arial Narrow', Arial;
  font-weight: normal;
}

/*Footer button (powered by Dotter)*/
.panel.bottom > .ui-btn {
  float: right;
}

.dotter-store-grid-container .dotter-navigation-container {
  background: #05764e;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Slick slider */
.slick-prev:before,
.slick-next:before {
  line-height: inherit;
}

.slick-prev:before,
.slick-next:before,
.slick-dots li a:before {
  color: #05764e;
}

html .ui-body-a {
  border: none;
  border-width: 0;
}

/* Fonts */
@font-face {
  font-family: 'Gothic821CondensedBT-Regular';
  src: url("http://content.dotter.me/store/originalsource/fonts/2AD9C9_0_0.eot");
  src: url("http://content.dotter.me/store/originalsource/fonts/2AD9C9_0_0.eot?#iefix") format("embedded-opentype"), url("http://content.dotter.me/store/originalsource/fonts/2AD9C9_0_0.woff") format("woff"), url("http://content.dotter.me/store/originalsource/fonts/2AD9C9_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
button,
.ui-btn {
  font-family: 'Gothic821CondensedBT-Regular', helevtica, sans-serif;
  font-size: .875em;
}

.ui-body-a .ui-loader {
  background-color: #05764e;
}

/*----------------*/
/* HEADER SECTION */
/*----------------*/
.dotter-header .panel.top > .panel.right {
  border: 0;
}

.dotter-retailer .name {
  color: #333;
}

.retailerchoice .dotter-label {
  color: white;
}

.dotter-breadcrumbs .dotter-active {
  color: white;
  text-decoration: underline;
}
.dotter-breadcrumbs .dotter-active:before {
  color: #fff;
}

/*---------------*/
/* STORE BUTTONS */
/*---------------*/
/*Select Retailer btn in product panel*/
div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-retailer-select {
  background: #05764e;
  color: white;
  font-size: 1.2em;
}

.ui-link.read-more {
  color: #333;
}

.ui-header .ui-btn,
.ui-content .ui-btn,
.ui-footer .ui-btn {
  font-size: 1.2em;
}

/*--------------------*/
/* Dotter Login Panel */
/*--------------------*/
.dotter-retailer-login .ui-input-text input {
  background: #f0f5f7;
  color: #4b4b4b;
}

/*--------------------*/
/* Navigation bar     */
/*--------------------*/
.dotter-store-grid-container .ui-grid-d > .ui-block-a {
  border-left: 0;
}

.dotter-store-grid-container .dotter-navigation-container {
  background-color: transparent;
}

.dotter-navigation-container .dotter-navigation ul li:first-child a {
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.dotter-navigation-container .dotter-navigation ul li:nth-child(5) a {
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.dotter-store-grid-container .ui-navbar a.ui-btn {
  font-size: 1.7em;
  padding: .7em 1em;
  text-transform: capitalize;
  background-color: transparent;
}

.dotter-store-grid-container .ui-navbar a.ui-btn:hover {
  text-decoration: underline !important;
}

.dotter-store-grid-container .ui-navbar a.ui-btn.ui-btn-active {
  text-decoration: underline !important;
}

.dotter-store-grid-container .ui-grid-d > .ui-block-a,
.dotter-store-grid-container .ui-grid-d > .ui-block-b,
.dotter-store-grid-container .ui-grid-d > .ui-block-c,
.dotter-store-grid-container .ui-grid-d > .ui-block-d,
.dotter-store-grid-container .ui-grid-d > .ui-block-e {
  width: 25%;
  border-left: 0;
}

/*Upsell slider*/
.dotter-has-upsell h3 {
  color: white;
}

.dotter-thankyou-page h1 {
  color: white;
  font-family: 'Gothic821CondensedBT-Regular', Arial;
  font-style: normal;
}

/*# sourceMappingURL=dotter.css.map */
