$primary-color: #05764E;
$secondary-color: #05764E;
$tertiary-color: #ffffff;

$global-font-family: "Roboto",Arial,Helvetica,sans-serif;
$global-font-size: .875em;
$global-box-shadow-size: 0;
$global-border-width-buttons: 0;
$global-border-style-buttons: none;
$global-radii-buttons: 25px;
$global-radii-buttons-notext: 0;

$a-body-background-color: transparent;
$a-page-background-color: #179b70;

$a-bar-background-color: #fff;
$a-bar-color: #fff;
$a-bar-border: #ddd !default;
$a-bar-shadow-x: none;
$a-bar-shadow-y: unquote('');
$a-bar-shadow-radius: unquote('');
$a-bar-shadow-color: unquote('');

$a-body-shadow-x: 0;
$a-body-shadow-y: 0;
$a-body-shadow-radius: 0;

$a-link-color: #000;
$a-link-text-decoration: none;
$a-link-font-weight: normal;
$a-link-visited: #000;
$a-link-hover: #000;
$a-link-active: #000;

$a-bup-background-color: $secondary-color;
$a-bup-border: $secondary-color;
$a-bup-color: #fff;
$a-bup-shadow-x: none;
$a-bup-shadow-y: unquote('');
$a-bup-shadow-radius: unquote('');
$a-bup-shadow-color: unquote('');

$a-bhover-background-color: $secondary-color;
$a-bhover-border: $primary-color;
$a-bhover-color: #fff;
$a-bhover-shadow-x: none;
$a-bhover-shadow-y: unquote('');
$a-bhover-shadow-radius: unquote('');
$a-bhover-shadow-color: unquote('');

$a-bdown-background-color: $primary-color;
$a-bdown-border: $secondary-color;
$a-bdown-color: #fff;
$a-bdown-shadow-x: none;
$a-bdown-shadow-y: unquote('');
$a-bdown-shadow-radius: unquote('');
$a-bdown-shadow-color: unquote('');

$a-active-shadow-x: none;
$a-active-shadow-y: unquote('');
$a-active-shadow-radius: unquote('');
$a-active-shadow-color: unquote('');
$a-active-box-shadow: none;
$a-active-border-color: $primary-color;

$b-body-background-color: #fff;
$b-body-color: #000;
$b-body-shadow-x: 0;
$b-body-shadow-y: 1;
$b-body-shadow-radius: 0;

$b-link-color: #000;
$b-link-text-decoration: none;
$b-link-font-weight: normal;
$b-link-visited: #000;
$b-link-hover: #000;
$b-link-active: #000;

$dtr-store-brand: '';
$dtr-store-border-radius: 0px;

$dtr-store-product-details-border: 1px solid $tertiary-color;
$dtr-store-spinner-border-radius: 0px;
$dtr-store-basket-content-background-color: #f0f5f7;

@import '../default/reset';
@import '../default/mixins';
@import '../default/jquery-mobile.theme';
@import '../default/store';

/* Fonts */
@font-face {
  font-family: 'Gothic821CondensedBT-Regular';
  @include font-face-src('http://content.dotter.me/store/originalsource/fonts/2AD9C9_0_0');
  font-weight: normal;
  font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Roboto);

button,
.ui-btn {
  font-family: 'Gothic821CondensedBT-Regular', helevtica, sans-serif;
  font-size: .875em;
}

/*----------------*/
/* HEADER SECTION */
/*----------------*/
.retailerchoice .dotter-label {
	
}

.dotter-header .panel.top > .panel.right {
  border: 0;
}

/*---------------*/
/* STORE BUTTONS */
/*---------------*/
html .ui-body-a .ui-btn.dotter-change-retailer,
html .ui-body-a .ui-btn.dotter-checkoutasguest {
  border: 1px solid $primary-color;
  background-color: #fff;
  color: $primary-color;
}

/*Select Retailer btn in product panel*/
div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-retailer-select {
  background: $primary-color;
  color: $tertiary-color;
  font-size: 1.2em;
}

/*--------------------*/
/* Dotter Login Panel */
/*--------------------*/
.dotter-retailer-login .ui-input-text input {
  background: #f0f5f7;
  color: rgb(75, 75, 75);
}

/*--------------------*/
/* Navigation bar     */
/*--------------------*/
.dotter-store-grid-container .ui-grid-d > .ui-block-a {
  border-left: 0;
}

.dotter-store-grid-container .dotter-navigation-container {
	background-color: transparent;
}

.dotter-navigation-container .dotter-navigation ul li:first-child a {
  @include border-radius($dtr-store-border-radius 0px 0px $dtr-store-border-radius);
}

.dotter-navigation-container .dotter-navigation ul li:nth-child(5) a {
  @include border-radius(0px $dtr-store-border-radius $dtr-store-border-radius 0px);
}

.dotter-store-grid-container .ui-navbar a.ui-btn {
  font-size: 1.3em;
  padding: .7em 1em;
  text-transform: capitalize;
  background-color: transparent;

  .ui-navbar a.ui-btn:hover {
    color: $primary-color;
	text-decoration: underline;
  }
}

.dotter-store-grid-container {
  @include grid-container {
    width: 25%;
    border-left: 0;
  }
}

