@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
	   -moz-box-shadow: $shadows;
	        box-shadow: $shadows;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	        border-radius: $radius;
}

@mixin font-face-src($src) {
	src:url($src + '.eot');
	src:url($src + '.eot?#iefix') format('embedded-opentype'),
		url($src + '.woff') format('woff'),
		url($src + '.ttf') format('truetype');
}

@mixin input-placeholder {
  input::-webkit-input-placeholder {
    @content;
  }
  input:-moz-placeholder {
    @content;
  }
  input::-moz-placeholder {
    @content;
  }
  input:-ms-input-placeholder {
    @content;
  }
}

@mixin linear-gradient($from, $to) {
  background: $from; /* Old browsers */
  background: -moz-linear-gradient(top,  $from 0%, $to 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $from 0%, $to 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $from 0%, $to 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $from 0%, $to 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $from 0%, $to 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-9 */
}