@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
	   -moz-box-shadow: $shadows;
	        box-shadow: $shadows;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	        border-radius: $radius;
}

@mixin font-face-src($src) {
	src:url($src + '.eot');
	src:url($src + '.eot?#iefix') format('embedded-opentype'),
		url($src + '.woff') format('woff'),
		url($src + '.ttf') format('truetype');
}

@mixin input-placeholder {
  input::-webkit-input-placeholder {
    @content;
  }
  input:-moz-placeholder {
    @content;
  }
  input::-moz-placeholder {
    @content;
  }
  input:-ms-input-placeholder {
    @content;
  }
}