$primary-color: #ff963a;
$secondary-color: #ff963a;
$tertiary-color: #EAEAEA;

$global-font-family: sans-serif;
$global-font-size: .875em;
$global-box-shadow-size: 0;
$global-border-width-buttons: 0;
$global-border-style-buttons: none;
$global-radii-buttons: 0;
$global-radii-buttons-notext: 0;

$a-bar-background-color: $primary-color;
$a-bar-color: #fff;
$a-bar-border: #ddd !default;
$a-bar-shadow-x: none;
$a-bar-shadow-y: unquote('');
$a-bar-shadow-radius: unquote('');
$a-bar-shadow-color: unquote('');

$a-body-shadow-x: 0;
$a-body-shadow-y: 0;
$a-body-shadow-radius: 0;

$a-link-color: #000;
$a-link-text-decoration: none;
$a-link-font-weight: normal;
$a-link-visited: #000;
$a-link-hover: #000;
$a-link-active: #000;

$a-bup-background-color: $secondary-color;
$a-bup-border: $secondary-color;
$a-bup-color: #fff;
$a-bup-shadow-x: none;
$a-bup-shadow-y: unquote('');
$a-bup-shadow-radius: unquote('');
$a-bup-shadow-color: unquote('');

$a-bhover-background-color: $secondary-color;
$a-bhover-border: $primary-color;
$a-bhover-color: #fff;
$a-bhover-shadow-x: none;
$a-bhover-shadow-y: unquote('');
$a-bhover-shadow-radius: unquote('');
$a-hover-shadow-color: unquote('');

$a-bdown-background-color: $primary-color;
$a-bdown-border: $secondary-color;
$a-bdown-color: #fff;
$a-bdown-shadow-x: none;
$a-bdown-shadow-y: unquote('');
$a-bdown-shadow-radius: unquote('');
$a-bdown-shadow-color: unquote('');

$a-active-shadow-x: none;
$a-active-shadow-y: unquote('');
$a-active-shadow-radius: unquote('');
$a-active-shadow-color: unquote('');
$a-active-box-shadow: none;

$b-body-background-color: #fff;
$b-body-color: #000;
$b-body-shadow-x: 0;
$b-body-shadow-y: 1;
$b-body-shadow-radius: 0;

$b-link-color: #000;
$b-link-text-decoration: none;
$b-link-font-weight: normal;
$b-link-visited: #000;
$b-link-hover: #000;
$b-link-active: #000;

@import '../default/reset';
@import '../default/mixins';
@import '../default/jquery-mobile.theme';

/* Fonts */
@font-face {
  font-family: 'mentonesemibold';
  @include font-face-src('http://content.dotter.me/store/carex/fonts/mentone_lig_bold');
  font-weight: normal;
  font-style: normal;
}

.ui-header, .ui-footer {
  border: none;
}

button,
.ui-btn {
	font-family: 'mentonesemibold',helevtica,sans-serif;
    font-size: .875em;
}

.ui-btn,
label.ui-btn {
	text-transform: uppercase;
}

.ui-page-theme-a,
.dotter-text-a {
	color: #000;
}

.ui-page-theme-b,
.dotter-text-b {
	color: #000;
}
@media all and (min-width: 55em){
	.dotter-lg-text-b {
		color: #2D6192;
	}
}

.dotter-branding-image {
  background-image: url("images/secondary-branding-sml.png");
}

@media all and (min-width: 50em){
  .dotter-image.dotter-retailer {
    background-image: url("images/secondary-branding.png");
  }

  .dotter-branding-image {
    background-image: url("images/secondary-branding.png");
  }
}
/*---------------------------*/
/* Dotter Store specific CSS */
/*---------------------------*/

/* BRANDING */
.dotter-brand-adjust:before {
	content: 'Carex® ';
}

/*Border between upsell products*/

.dotter-border-a {
	border-color: $primary-color;
}
.dotter-border-b,
.ui-body-a .ui-controlgroup {
	border-color: #9cc6e9;
}
/*----------------*/
/* HEADER SECTION */
/*----------------*/
/*Retailer Select panel (non pop-up)*/
.panel.top {
	min-height: 48px;
}
.dotter-header .panel.top > .panel.right {
	border: 1px solid $tertiary-color;
}

.retailerchoice .dotter-label {
	background: $primary-color;
	color: #fff;
	padding: .5em;
	margin: -.5em -.5em .5em;
}

/*Secondary Branding Image*/
.panel.top > .dotter-image.dotter-retailer {
	float: right;
}
.dotter-image.dotter-retailer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-image: url("images/secondary-branding-sml.png");
	background-size: 72%;
	background-position: left center;
	background-repeat: no-repeat;
	margin: 1em 370px 2.3em 1em;
}

/* secondary navigation */
.dotter-header .app-links .item {
  text-transform: uppercase;
}

/*Breadcrumbs*/
.dotter-header .dotter-breadcrumbs li {
  text-transform: uppercase;
}
.dotter-breadcrumbs .dotter-active {
	color: $primary-color;
}
.dotter-breadcrumbs .dotter-active:before {
	color: #000;
}
/*----------------------------*/
/* PRODUCT GRID PANEL SECTION */
/*----------------------------*/
.dotter-store-grid-container, .basket-page, .thankyou-page {
  @include border-radius(5px);
}
@media all and (min-width: 36em) {
	.basket-page {
		border: 2px solid $primary-color;
	}	
}

/*Product details both in grid and upsell*/
.dotter-product-details {
	border: 1px solid $tertiary-color;
}
.dotter-product-details h4.dotter-product-title {
	text-align: center;
    color: #0087ff;
    font-size: 1.1em;
}
.dotter-product-abstract {
  font-size: .9em;
}
/*Info button Icon*/
.dotter-product-info.dotter-icon:before {
	background-color: $secondary-color;
}
/*Price*/
.price, .offer {
	color: red;
}
/*Error messages*/
.empty-product-list {
	font-size: 1.3em;
}
/*Product Info modals*/
.ui-header.ui-bar-a > h1 {
	font-size: 1.1em;
}
.ui-popup-container .ui-content h3 {
	font-weight: normal;
}
/*---------------*/
/* STORE BUTTONS */
/*---------------*/


/*Select Retailer btn in product panel*/
div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-retailer-select {
	background: #fff;
	color: $primary-color;
	font-size: 1em;
}

.dotter-spinner input {
	border-color: $primary-color;
}

/*Add and qty select btns in product panel (should be std btn)*/
.dotter-add-to-basket .ui-btn.dotter-product-add{
    @include border-radius(0px);
}
.dotter-add-to-basket .ui-btn.dotter-product-add {
	border: 0px;
}

.dotter-add-to-basket .ui-btn.dotter-product-added {
	background: $primary-color;
}
.dotter-product-quantity, .dotter-item-quantity {
	border-color: $primary-color;
}
/*Add btn in product panel (added/update state)*/
div.panel.dotter-add-to-basket > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-product-add.ui-state-disabled.mobile-button-disabled.dotter-product-added, div.panel.dotter-add-to-basket > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow.dotter-product-add.dotter-product-update, .dotter-btn-basket, .dotter-btn-a {
	background: $primary-color;
}
/*--------------------*/
/* Dotter Login Panel */
/*--------------------*/
.dotter-retailer-login .ui-input-text input {
	font-size: 1.2em;
	padding: .3em .5em .2em;
}
/*Placeholder UPPERCASE*/
.dotter-retailer-login .ui-input-text input::-webkit-input-placeholder {
	text-transform: uppercase;
}
.dotter-retailer-login .ui-input-text input:-moz-placeholder {
	text-transform: uppercase;
}
.dotter-retailer-login .ui-input-text input::-moz-placeholder {
	text-transform: uppercase;
}
.dotter-retailer-login .ui-input-text input:-ms-input-placeholder {
	text-transform: uppercase;
}
/*--------------*/
/* Basket panel */
/*--------------*/
/*Basket panel styling*/
.dotter-basket-details .dotter-basket-content {
	border: 1px solid #9cc6e9;
	border-bottom: none;
	background: #e4eef6;
    @include border-radius(5px 5px 0px 0px);
}
/*Basket total styling*/
.dotter-basket-details .dotter-basket-total {
/*	font-size: 1em;*/
	background: $primary-color;
	color: #fff;
    @include border-radius(0px 0px 5px 5px);
}
.dotter-checkout-info .dotter-small-prints {
	color: $primary-color;
	font-size: 1.2em;
}
/*Upsell slider*/
.dotter-has-upsell h3 {
	color: $primary-color;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #2D6192;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #d0d0d0;
}
#content .bx-wrapper .bx-next {
	background: url(images/controls.png) no-repeat -43px -32px;
}
#content .bx-wrapper .bx-prev {
	background: url(images/controls.png) no-repeat 0 -32px;
}
/*----------------*/
/* Thank You page */
/*----------------*/
.dotter-thankyou-page h1 {
	color: $primary-color;
	font-style: italic;
	font-family: 'Arial Narrow',Arial;
    font-weight: normal;
}

/*Footer button (powered by Dotter)*/
.panel.bottom > .ui-btn {
	float: right;
}

#content .dotter-store-grid-container.ui-content {
	padding-top: 0;
}

.dotter-store-grid-container .dotter-navigation-container {
    background: $primary-color;
    @include border-radius(10px);
}

.dotter-store-grid-container .ui-grid-d > .ui-block-a {
    border-left: 0;
}
.dotter-navigation-container .dotter-navigation ul li:first-child a {
    @include border-radius(10px 0px 0px 10px);
}
.dotter-navigation-container .dotter-navigation ul li:last-child a {
    @include border-radius(0px 10px 10px 0px);
}

.dotter-store-grid-container .ui-navbar a.ui-btn {
	font-size: 1.3em;
    padding: .7em 1em;
    text-transform: capitalize;
    background-color: #0087ff;
}

.dotter-store-grid-container .ui-navbar a.ui-btn:hover {
    color: $primary-color;
}

.dotter-store-grid-container .ui-grid-d > .ui-block-a, 
.dotter-store-grid-container .ui-grid-d > .ui-block-b, 
.dotter-store-grid-container .ui-grid-d > .ui-block-c, 
.dotter-store-grid-container .ui-grid-d > .ui-block-d, 
.dotter-store-grid-container .ui-grid-d > .ui-block-e {
	width: 25%;
    border-left: 1px dotted #fff;
}

/* Slick slider */
.slick-prev:before,
.slick-next:before {
	line-height: inherit;
}

.slick-prev:before,
.slick-next:before,
.slick-dots li a:before {
	color: $primary-color;
}
